<section
  class="p-8 lg:grid lg:grid-cols-2 lg:items-center lg:mr-20 lg:gap-40 lg:pt-20 xl:px-30"
>
  <img
    class="ml-5"
    src="/assets/home/desktop/illustration-easy-to-implement.svg"
    alt="code preview with a form and script"
  />
  <div
    class="flex flex-col items-center text-center gap-4 lg:col-start-2 lg:text-left"
  >
    <h3
      class="font-dm-serif-display text-3xl text-san-juan-blue lg:self-start lg:font-bold"
    >
      Easy to implement
    </h3>
    <p class="text-light-san-juan-blue">
      Our API comes with just a few lines of code. You’ll be up and running in
      no time. We built our documentation page to integrate payments
      functionality with ease.
    </p>
  </div>
</section>
<section
  class="relative grid grid-cols-1 p-8 lg:grid-cols-2 lg:items-center lg:p-0 xl:px-30"
>
  <div
    class="hidden absolute bg-no-repeat bg-cover bg-[url('/assets/shared/desktop/bg-pattern-circle.svg')] xl:block xl:w-[43rem] xl:h-[43rem] xl:top-[-5rem] xl:right-[-20rem] z-0"
  ></div>
  <div
    class="relative z-10 flex flex-col items-start text-center gap-4 lg:text-left lg:mr-20 lg:ml-10"
  >
    <h3
      class="font-dm-serif-display text-3xl text-san-juan-blue lg:self-start lg:font-bold"
    >
      Simple UI & UX
    </h3>
    <p class="text-light-san-juan-blue">
      Our pre-built form is easy to integrate in your app or website’s checkout
      flow and designed to optimize conversion.
    </p>
  </div>
  <img
    class="ml-5 relative z-10 row-start-1 lg:col-start-2"
    src="/assets/home/desktop/illustration-simple-ui.svg"
    alt=""
  />
</section>
<section class="grid grid-cols-1 p-8 gap-8 lg:grid-cols-3 lg:mx-10 xl:px-30">
  <div class="flex flex-col items-center text-center gap-4">
    <img src="/assets/home/desktop/icon-personal-finances.svg" alt="" />
    <h4 class="font-bold text-san-juan-blue">Personal Finances</h4>
    <p class="text-light-san-juan-blue lg:text-center">
      Consolidate financial data from multiple sources and categorize
      transactions up to 2 years of history. Analyze reports to reconcile
      activities in your account.
    </p>
  </div>
  <div class="flex flex-col items-center text-center gap-4">
    <img src="/assets/home/desktop/icon-banking-and-coverage.svg" alt="" />
    <h4 class="font-bold text-san-juan-blue">Banking & Coverage</h4>
    <p class="text-light-san-juan-blue lg:text-center">
      With our platform, you can speed up account onboarding and support ongoing
      payments for checking, savings, credit card, and brokerage accounts.
    </p>
  </div>
  <div class="flex flex-col items-center text-center gap-4">
    <img src="/assets/home/desktop/icon-consumer-payments.svg" alt="" />
    <h4 class="font-bold text-san-juan-blue">Consumer Payments</h4>
    <p class="text-light-san-juan-blue lg:text-center">
      It’s easier to set up secure bank payments with us through a flow designed
      with the user experience in mind. Customers could instantly authenticate
      their account.
    </p>
  </div>
</section>
<section
  class="text-center p-8 lg:grid lg:grid-cols-2 lg:justify-items-start lg:pt-20 lg:gap-[25rem] xl:px-30"
>
  <h3
    class="font-dm-serif-display text-3xl text-san-juan-blue lg:font-bold lg:ml-10"
  >
    Ready to start ?
  </h3>
  <app-email-form></app-email-form>
</section>
