
@if (!isActive()) {
  <nav class="flex justify-between mx-6 mt-10 relative z-50" (click)="handleBurgerClick()">
    <img src="/assets/shared/desktop/logo.svg" alt="payapi logo">
    <button class="cursor-pointer"><img src="/assets/shared/mobile/menu.svg" alt="open icon menu"></button>
  </nav>
} @else {
  <nav class="bg-mirage-blue h-screen w-10/12">
    <div class="border-b-1 border-light-san-juan-blue mx-6 pb-6 pt-10 flex justify-end" (click)="handleBurgerClick()">
      <button class="cursor-pointer"><img src="/assets/shared/mobile/close.svg" alt="close icon menu"></button>
    </div>
    <ul class="text-link-water-white text-center py-4 flex flex-col gap-4 ">
      <a [routerLink]="['/pricing']">
        <li>Pricing</li>
      </a>
      <a [routerLink]="['/about']">
        <li>About</li>
      </a>
      <a [routerLink]="['contact']">
        <li>Contact</li>
      </a>
      <a [routerLink]="['/about']">
        <li><button class="bg-dark-pink text-link-water-white rounded-3xl p-3 px-10 cursor-pointer text-xs drop-shadow-2xl font-semibold md:-ml-6 md:px-4 hover:bg-charm-pink">Schedule a Demo</button></li>
      </a>
    </ul>
  </nav>
}
