<nav class="flex flex-row items-center justify-between mt-10 mx-33 pr-14">
  <div class="flex gap-16 items-center">
    <a [routerLink]="['/']" >
      <img class="cursor-pointer" src="/assets/shared/desktop/logo.svg" alt="payapi logo">
    </a>
    <ul class="text-san-juan-blue text-center py-4 flex gap-4 items-center ">
      <li class="cursor-pointer"><a [routerLink]="['/pricing']">Pricing</a></li>
      <li class="cursor-pointer"><a [routerLink]="['/about']" >About</a></li>
      <li class="cursor-pointer"><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </div>
  <button class="bg-dark-pink text-link-water-white rounded-3xl p-3 px-10 cursor-pointer text-xs drop-shadow-2xl font-semibold md:px-4">Schedule a Demo</button>
</nav>
