<div class="relative">
  <div class="absolute top-[-12.5rem] inset-0 h-[28rem] w-[28rem] left-1/2 -translate-x-1/2 bg-no-repeat bg-cover bg-[url('/assets/shared/desktop/bg-pattern-circle.svg')]
  md:top-[-9rem] md:left-3/4 md:w-[49rem] md:h-[49rem] "></div>

</div>

<div class="relative z-20 text-center md:grid md:grid-cols-2 md:grid-rows-1 md:items-center md:justify-items-center md:mx-24 md:gap-24">
  <img class="drop-shadow-2xl ml-4 md:col-start-2 md:row-start-1" src="/assets/home/desktop/illustration-phone-mockup.svg" alt="phone-mockup-with-payement-notification">

  <section class="md:col-start-1">
    <h1
    class="font-dm-serif-display text-san-juan-blue text-3xl font-semibold xl:text-6xl md:text-left md:mr-16">
    Start building with our APIs for absolutely free.</h1>
      <form action="post"
      class="flex flex-col gap-4 md:flex-row md:gap-0 md: mt-10">
        <label for="email"></label>
        <input type="text"
        placeholder="Enter email address"
        class="bg-link-water-white rounded-3xl p-3 pl-5 text-xs drop-shadow-2xl md:pr-20">
        <button class="bg-dark-pink text-link-water-white rounded-3xl p-3 cursor-pointer text-xs drop-shadow-2xl font-semibold md:-ml-6 md:px-4">Schedule a Demo</button>
      </form>
      <p class="text-light-san-juan-blue text-sm mt-5 md:text-left md:mt-3 md:ml-5">Have any questions ? <a class="text-san-juan-blue font-semibold cursor-pointer">Contact Us</a></p>
  </section>
</div>
