<div class="relative z-20 text-center md:grid md:grid-cols-2 md:grid-rows-1 md:items-center md:justify-items-center md:mx-24 md:gap-24">
  <div class="absolute inset-0">
    <div class="absolute top-[-12.5rem] left-1/2 -translate-x-1/2 h-[28rem] w-[28rem] bg-no-repeat bg-cover bg-[url('/assets/shared/desktop/bg-pattern-circle.svg')]
    md:top-[-9rem] md:left-11/12 md:w-[49rem] md:h-[49rem] z-0  ">
    </div>
  </div>
  <img class="drop-shadow-2xl ml-9 md:col-start-2 md:row-start-1" src="/assets/home/desktop/illustration-phone-mockup.svg" alt="phone-mockup-with-payement-notification">
  <section class="md:col-start-1 mx-9">
    <h1
    class="font-dm-serif-display text-san-juan-blue text-3xl mb-10 font-semibold xl:text-6xl md:text-left md:mr-16">
    Start building with our APIs for absolutely free.</h1>
   <app-email-form></app-email-form>
      <p class="text-light-san-juan-blue text-sm mt-5 md:text-left md:mt-3 md:ml-5">Have any questions ? <a class="text-san-juan-blue font-semibold cursor-pointer">Contact Us</a></p>
  </section>
</div>
