<section class="relative z-20 md:mx-33 md:grid md:grid-cols-3 md:gap-4">
  <div class="absolute top-[-25rem] left-[115%] -translate-x-1/2 h-[28rem] w-[28rem] bg-no-repeat bg-cover bg-[url('/assets/shared/desktop/bg-pattern-circle.svg')]
  md:top-[-40rem] md:left-[80%] md:w-[49rem] md:h-[49rem] z-0">
</div>
  <h1 class="font-dm-serif-display text-san-juan-blue text-3xl text-center mb-6 mt-12 font-semibold md:text-left md:text-5xl md:mt-20 md:col-span-3">Pricing</h1>
<app-pricing-card
title="Free Plan"
description="Build and test using our core set of products with up to 100 API request"
[price]= 0
[features]="[
  {name: 'Transactions', included: true},
  {name: 'Auth', included: true},
  {name: 'Identity', included: true},
  {name: 'Investments', included: false},
  {name: 'Assets', included: false},
  {name: 'Liabilities', included: false},
  {name: 'Income', included: false},
]">
</app-pricing-card>
<app-pricing-card
title="Basic Plan"
description= "Launch your project with unlimited request and no contractual minimums"
[price]= 249
[features]="[
  {name: 'transactions', included: true},
  {name: 'Auth', included: true},
  {name: 'Identity', included: true},
  {name: 'Investments', included: true},
  {name: 'Assets', included: true},
  {name: 'Liabilities', included: false},
  {name: 'Income', included: false},
]">
</app-pricing-card>
<app-pricing-card
title="Premium Plan"
description="Get tailored solutions, volume pricing, and dedidcated support for your team"
[price]= 499
[features]="[
  {name: 'transactions', included: true},
  {name: 'Auth', included: true},
  {name: 'Identity', included: true},
  {name: 'Investments', included: true},
  {name: 'Assets', included: true},
  {name: 'Liabilities', included: true},
  {name: 'Income', included: true},
]">
</app-pricing-card>
</section>
<section class="text-center p-8 lg:grid lg:grid-cols-2 lg:justify-items-start lg:pt-20 lg:gap-[25rem] xl:px-30 ">
  <h3 class="font-dm-serif-display text-3xl text-san-juan-blue lg:font-bold lg:ml-10">Ready to start ?</h3>
  <form action="post"
  class="flex flex-col gap-4 md:flex-row md:gap-0 mt-5 lg:mt-0" >
    <label for="email"></label>
    <input type="text"
    placeholder="Enter email address"
    class="bg-link-water-white rounded-3xl p-3 pl-5 text-xs drop-shadow-2xl md:pr-20">
    <button class="bg-dark-pink text-link-water-white rounded-3xl p-3 cursor-pointer text-xs drop-shadow-2xl font-semibold md:-ml-6 md:px-4">Schedule a Demo</button>
  </form>
</section>
