<form [formGroup]="submitForm" (ngSubmit)="onSubmit()" class="flex flex-col text-san-juan-blue">
  <input type="text" placeholder="Name" required formControlName="name" class="border-b border-light-san-juan-blue mx-4 p-4">
  <input type="email" placeholder="Email" required formControlName="email" class="border-b border-light-san-juan-blue mx-4 p-4">
  <input type="text" placeholder="Company Name" formControlName="companyName" class="border-b border-light-san-juan-blue mx-4 p-4">
  <input type="text" placeholder="Title" formControlName="title"class="border-b border-light-san-juan-blue mx-4 p-4">
  <textarea name="message" id="message" rows="3" placeholder="Message" required formControlName="message" class="border-b border-light-san-juan-blue mx-4 p-4"></textarea>
  <label for="terms">Stay up-to-date with company annoucements and updates to our API</label>
  <input type="checkbox" name="terms" id="terms" required formControlName="terms">
  <button type="submit" [disabled]="!submitForm.valid" class="rounded-3xl border-1 py-2 px-4 text-sm text-san-juan-blue border-light-san-juan-blue my-4 cursor-pointer">Submit</button>
</form>
