<section class="bg-[#1B262F] relative overflow-hidden grid grid-cols-1 grid-rows-2 p-8  xl:grid-cols-2 xl:grid-rows-1 xl:px-30 xl:gap-x-60 xl:pb-12">
  <div class="relative">
    <div class="absolute top-[-53rem] inset-0 h-[28rem] w-[28rem] left-1/2 -translate-x-1/2 bg-no-repeat bg-cover bg-[url('/assets/shared/desktop/bg-pattern-circle.svg')]
     xl:left-1/12 xl:w-[49rem] xl:h-[49rem] "></div>

  </div>
  <div class="row-start-2 text-link-water-white flex flex-col items-center xl:row-start-1 xl:items-start">
    <h2 class="font-dm-serif-display text-center text-3xl pt-2 xl:text-4xl">Who we work with</h2>
    <p class="py-6 text-center text-light-san-juan-blue xl:text-left"> Today, millions of people around the world have successfully connected
      their accounts to apps they love using our API. We provide developers
      with the tools they need to create easy and accessible experiences
      for their users.</p>
      <button class="border-2 rounded-3xl py-2 px-4 cursor-pointer hover:bg-link-water-white hover:text-[#1B262F]">About us</button>
  </div>
    <div class=" grid grid-cols-2 row-start-1 justify-center gap-x-4 xl:col-start-2 xl:grid-cols-3">
      <img class="self-center" src="/assets/shared/desktop/tesla.svg" alt="logo tesla">
      <img class="self-center" src="/assets/shared/desktop/microsoft.svg" alt="logo microsoft">
      <img class="self-center" src="/assets/shared/desktop/hewlett-packard.svg" alt="logo hewlett-packard">
      <img class="self-center" src="/assets/shared/desktop/oracle.svg" alt="logo oracle">
      <img class="self-center" src="/assets/shared/desktop/google.svg" alt="logo google">
      <img class="self-center" src="/assets/shared/desktop/nvidia.svg" alt="logo nvidia">
    </div>
</section>
